.image {
    position: relative;
    width: 600px;
    margin-top: 6rem;
    right: -4rem;
}

.button-container {
    margin-top: -22rem;
    right: -64rem;
    position: relative;
    width: 350px;
    height: 80px;
}

.button {
    width: 350px;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #6AB0E3;

    color: black;

    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5a9dcf;
    /* Darker shade for hover effect */
}